Source: nwsmtp
Section: mail
Priority: extra
Maintainer: Alexei Moisseev <alexmois@ya.ru>
Build-Depends: debhelper (>= 7.0.50~), libboost1.44-dev, libspf2-dev (>= 1.2.9~), libopendkim-dev (>= 1.2.2-2~), libprotobuf-dev, libexpat1-dev, protobuf-compiler, libssl-dev, libboost-regex1.44.0 
Standards-Version: 3.9.1
Homepage: https://github.com/alexeimoisseev/NwSMTP

Package: nwsmtp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libspf2-2 (>= 1.2.9~), opendkim (>= 1.2.2-2~), expat (>= 1.95.8-8.3)
Description: Asynchronous SMTP proxy server
 GPL Licensed fully asynchronous SMTP proxy server for Linux used as a frontend proxy for Yandex.Mail. 
 Features include but are not limited to: ssl support, rbl checks, spam filtering, virus filtering, spf checks, dkim checks.
